@charset "utf-8"

// Custom colors
$coral:    #FF6F61
$seafoam: #2AB573

$primary:    $coral
$link: $seafoam

@import "bulma/utilities/initial-variables"

$scheme-main: $black
$scheme-main-bis: $black-bis
$scheme-main-ter: $black-ter
$scheme-invert: $white
$scheme-invert-bis: $white-bis
$scheme-invert-ter: $white-ter

$background: $black-ter

$text: $grey-light
$text-strong: $grey-lighter

/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */
@import "bulma/utilities/_all"
@import "bulma/base/_all"
@import "bulma/elements/_all"
@import "bulma/form/_all"
@import "bulma/components/_all"
@import "bulma/grid/_all"
@import "bulma/layout/_all"

.content
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-family: cholla-slab, serif
        color: $primary

.patreon-link
    img
        height: 2em
        max-height: none
        border-radius: 1em
